<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Material ZERO</h1>
    <h2>File upload page</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
 <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <p>select a printing preset:</p>
        <button type="submit" name="submit" value="rapid">Rapid</button>
        <button type="submit" name="submit" value="hi-res">Hi-res</button>
        <button type="submit" name="submit" value="rapid-support">Rapid with Supports</button>
        <button type="submit" name="submit" value="hi-res-support">Hi-res with Supports</button>
 </form>
</body>
</html>
